<%- include("templates/header") %> 
    <h1>Index</h1>
    <form action="/login" method="get">
        <button>Login</button>
    </form>

    <form action="/signup" method="get">
        <button>Sign Up</button>
    </form>
<%- include("templates/footer") %> 