<%- include("templates/header") %> 
    <h1>Login</h1>
    <form action="/loginUser" method="post">
        <input name="username" type="text" placeholder="username"> <br>
        <input name="password" type="text" placeholder="password"> <br>
        <button>Login</button>
        <a href="/signup" style="color:black; text-decoration: none;"><button type="button">Sign Up</button></a> <br>
        <% if (userMsg != "undefined") { %>
            <br> <%=userMsg%>
        <% } 
        if (passMsg != "undefined") {%>
            <br> <%=passMsg%>
        <% } %>
    </form>
<%- include("templates/footer") %> 