<%- include("templates/header") %> 
    <h1>Hello, <%=username%>.</h1>

    <table>
        <tr>
            <th> &ensp; # &ensp; </th>
            <th> &ensp; Description &ensp; </th>
        </tr>
        <% let i=0; %>
		<% for(i=0; i < todoItems.length; i++) { %>
            <%- include('templates/todo', {todoItem: todoItems[i], index: i + 1})  %> 
        <% } %> 
    </table>
    <!-- MAKE INPUT HERE -->
    <form action="/createTodo" method="post" class="form-inline">
        <input name="description" type="text" placeholder="What needs to be done?" required> <br>
        <button>Add</button>
    </form> <br>
    
    <form action="/sign-out" method="post">
        <button>Sign Out</button>
    </form>
<%- include("templates/footer") %> 