<%- include("templates/header", {styles: ["css/todo.css"], scripts: ["https://code.jquery.com/jquery-3.6.3.js","scripts/main.js"]}) %> 
    <h1>Hello, <%=username%>.</h1>

    <table id="todoTable">
        <tr>
            <th> &ensp; # &ensp; </th>
            <th> &ensp; Description &ensp; </th>
        </tr>
        <% let i=0; %>
		<% for(i=0; i < todoItems.length; i++) { %>
            <%- include('templates/todoItem', {todoItem: todoItems[i].description, index: i + 1})  %> 
        <% } %> 
    </table>

    <input id="inputDescription" name="description" type="text" placeholder="What needs to be done?" required>
    <button id="addButton">Add</button> <br> <br>
    
    <form action="/sign-out" method="post">
        <button>Sign Out</button>
    </form>
<%- include("templates/footer") %> 